@import 'src/styles/styles';

.data {
  padding: 22px 24px;
  height: 100vh;
  background: $light_blue;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__edit {
    width: 105px;
  }
  &__filter-container {
    display: flex;
    justify-content: space-between;
  }
  &__buttons {
    display: flex;
    gap: 21px;
  }
  &__create {
    width: 125px;
  }
  &__delete {
    width: 105px;
  }
  &__reset-filters {
    width: 105px;
    box-shadow: $box-shadow_1;
  }
  &__dropdown {
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow_2;
    width: 200px;
  }
  &__search {
    width: 320px;
  }
  &__dropdown-item {
    padding: 16px 24px;
    font-size: 14px;
    line-height: 18px;
    color: $dark_gray;
    background: $white;
    border-radius: 2px;
    &:hover {
      cursor: pointer;
      background: $light_gray;
    }
  }
  svg {
    &:hover {
      cursor: pointer;
      background: $light_pink;
      border-radius: 2px;
    }
  }
}
