$light_black: #304551;
$light_pink: #FCE5F3;
$shadow_light_gray: rgba(44, 70, 82, 0.1);
$shadow_gray: rgba(44, 70, 82, 0.3);
$shadow_dark_gray: rgba(44, 70, 82, 0.5);
$light_blue: #F5FBFC;
$light_gray: #F2F2F2;
$dark_gray: #2C4652;
$blue: #007DC1;
$pink: #E00087;
$white: #FFFFFF;
$gray: #E5E5E5;
$dark_pink: #C90079;
$bright_blue: #46C5E9;

$box-shadow_1: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow_2: 0px 10px 24px rgba(44, 70, 82, 0.1), 0px 5px 12px rgba(44, 70, 82, 0.1), 0px 3px 6px rgba(44, 70, 82, 0.1);