@import 'src/styles/styles';

.header{
  display: flex;
  justify-content: space-between;
  padding: 12px 45px 14px 20px;
  border: 1px solid $shadow_light_gray;
  &__info{
    display: flex;
  }
  &__logo{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $dark_gray;
  }
  &__name{
    color: $dark_gray;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
  &__logout{
    display: flex;
    align-items: center;
    gap:10px;
    &:hover{
      cursor: pointer;
    }
  }
  &__personal-info{
    display: flex;
  }
  &__line{
    margin: auto 24px;
    height: 20px;
    border: 1px solid $shadow_light_gray;
  }
  &__user-logo{
    position: relative;
    background: $light_gray;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-right: 12px;
    svg{
      position: absolute;
      margin: 25%;
    }
  }
  &__logout-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $dark_gray;
  }
  &__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $dark_gray;
  }
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &.active{
      &:after{
        content: '';
        top: 50px;
        position: absolute;
        width: 128px;
        border-bottom: 2px solid $pink;
      }
    }
  }
}