@import 'src/styles/styles';

.input-password {
  .ant-input{
    background: $white;
    border: 1px solid $shadow_gray;
    border-radius: 4px;
  }
  .ant-input:focus {
    box-shadow: none;
    border: 1px solid $bright_blue;
  }
}